<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="etrade.css">
    <title>Document</title>
</head>
<body>
    <header class="main_header_area">
        <div class="top_area-header">
            <div class="contenr_top">
                <div class="row_aligin-item_center">
                    <div class="brand_logo">
                        <a href="#">
                            <img src="logo.png" alt="etrade">
                        </a>
                    </div>   
                    <div class="main_searechbox">
                        <div class="searchbox">
                            <input type="search" name="search box" id="search" placeholder="what are you looking for">
                            <button type="submit" class="icon_search">&#128269;</button>
                        </div>
                        <div class="usd_dropdown">
                            <button class="button_toggle">USD</button>
                        </div>
                        <div class="en_dropdown">
                            <button class="button_toggle">EN</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="bottom_area-header">
            <div class="contenr_bottom">
                <div class="main_navbar">
                  <div class="categories_box">
                     <button class="categories">Categories</button>
                     <nav class="side_nav">
                        <ul class="list-side_nav">
                            <li>
                               <a href="#">
                                <span class="img">
                                    <img src="glass.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="fasion">Fasion</span> 
                               </a>
                            </li>                          
                            <li>
                                <a href="#">
                                    <span class="img">
                                    <img src="com.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="Electronics">Electronics</span></a>
                            </li>  
                            <li>
                                <a href="#">
                                    <span class="img">
                                    <img src="table.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="Home_Decor">Home Decor</span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="img">
                                    <img src="medicine.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="Medicine">Medicine</span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="img">
                                    <img src="medicine.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="Medicine">Medicine</span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="img">
                                    <img src="medicine.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="Medicine">Medicine</span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="img">
                                    <img src="medicine.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="Medicine">Medicine</span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="img">
                                    <img src="medicine.png" alt="glass" style="width:25px" >
                                </span>
                                <span class="Medicine">Medicine</span></a>
                            </li>
                        </ul>
                    </nav>
                  </div>
                  <div class="navbar">
                    <a class="side_down" href="#">Home</a>
                    <a class="side_down" href="#">Shop</a>
                    <a class="side_down" href="#">Page</a>
                    <a class="side_down" href="#">About</a>
                    <a class="side_down" href="#">Blog</a>
                    <a href="#">Contact</a>
                  </div>
                  <div class="action_icon">
                    <ul class="listofactions">
                        <li class="whishlist">
                            <a class="list" href="#"></a>
                        </li>
                        <li class="shopping">
                            <a class="list" href="#"></a>
                        </li>
                        <li class="profile">
                            <a class="list" href="#"></a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </header>
    <div class="section_area_content">
        <div class="offset">
            <div class="main_Ad">
                <div class="flex ad1">
                    <div class="ad1_main_content_area">
                        <div class="flex1 descrption">
                            <p class="smart_watch">
                                <span class="watch_circle"></span>
                                Smartwatch
                            </p>
                            <h2 class="vaerity_watch">Bloosom Smart Watch</h2>
                            <a class="shop_now" href="#">Shop Now</a>
                        </div>
                    </div>
                    <div class="ad1_second_content_area">
                      <div class="flex1 descrption_img">
                          <img src="product-40.png" alt="">
                      </div>
                    </div>  
                </div>
                <div class="flex ad2">
                    <div class="ad2_main_content_area d-">
                        <img src="product-41.png" alt="bag">
                    </div>
                    <h4 class="side-Leather_Bags">Yantiti Leather Bags</h4>
                    <p class="price29">$29.99</p>
                </div>
            </div>
        </div>
    </div>
    <div class="our_quality">
        <div class="our_quality_center">
            <div class="service_box">
                <div class="goals delivery">
                    <div class="fast&secure">
                        <img src="service1.png" alt="">
                    </div>
                    <h3 class="quality_title">Fast & Secure Delivery</h3>
                </div>
            </div>
            <div class="service_box">
                <div class="goals on_product">
                    <div class="fast&secure">
                        <img src="service2.png" alt="">
                    </div>
                    <h3 class="quality_title">100% Guarantee On Product</h3>
                </div>  
            </div>
            <div class="service_box">
                <div class="goals policy1">
                    <div class="fast&secure">
                        <img src="service3.png" alt="">
                    </div>
                    <h3 class="quality_title">24 Hour Return Policy</h3>
                </div>
            </div>
            <div class="service_box">
                <div class="goals policy2">
                    <div class="fast&secure">
                        <img src="service4.png" alt="">
                    </div>
                    <h3 class="quality_title">24 Hour Return Policy</h3>
                </div>
            </div>    
            <div class="service_box">
                <div class="goals quality">
                    <div class="fast&secure">
                        <img src="service5.png" alt="">
                    </div>
                    <h3 class="quality_title">Next Level Pro Quality</h3>
                </div>
            </div>    
        </div>
    </div>
    <div class="this-week_main">
        <div class="content_this-week">
            <div class="head_of_this-week">
                <p class="this_week_names">
                    <span class="week_logo"></span>
                    This Week's
                </p>
                <h1 class="new_arrivals">New Arrivals
                <span>    
                <button class="side_roll">&#8592;</button>
                <button class="side_roll">&#8594;</button>
                </span>
                </h1>
            </div>
            <div class="week_center">
               <div class="clouths">
                <div class="img_clouths">
                    <img src="dress-1.png" alt="">
                    <div class="dress_title">
                        <h4>top handal hand bag</h4>
                        <span class="linethrough">$88</span>
                        <span class="pricing">$60</span>
                    </div>
                </div>
               </div>
               <div class="clouths">
                <div class="img_clouths">
                    <img src="dress-1.png" alt="">
                    <div class="dress_title">
                        <h4>top handal hand bag</h4>
                        <span class="linethrough">$88</span>
                        <span class="pricing">$60</span>
                    </div>
                </div>
               </div>
               <div class="clouths">
                <div class="img_clouths">
                    <img src="dress-1.png" alt="">
                    <div class="dress_title">
                        <h4>top handal hand bag</h4>
                        <span class="linethrough">$88</span>
                        <span class="pricing">$60</span>
                    </div>
                </div>
               </div>
               <div class="clouths ">
                <div class="img_clouths">
                    <img src="dress-1.png" alt="">
                    <div class="dress_title">
                        <h4>top handal hand bag</h4>
                        <span class="linethrough">$88</span>
                        <span class="pricing">$60</span>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
    <div class="main_dontmiss">
        <div class="content_dontmiss">
            <div class="two_row-justif-content">
                <div class="ad01">
                    <div class="watch_sidetitle">
                        <p class="smart_watch">
                            <span class="watch_circle"></span>
                            Don’t Miss!!
                        </p>
                        <h2 class="vaerity_watch">Let's Shopping Today</h2>
                        <div class="timer">
                            <div class="circle-section">
                                <div>
                                    <div class="number">0</div>
                                    <div class="days">Day</div>
                                </div>
                            </div>
                            <div class="circle-section">
                                <div>
                                    <div class="number">12</div>
                                    <div class="days">Hrs</div>
                                </div>
                            </div>
                            <div class="circle-section">
                                <div>
                                    <div class="number">53</div>
                                    <div class="days">Min</div>
                                </div>
                            </div>
                            <div class="circle-section">
                                <div>
                                    <div class="number">04</div>
                                    <div class="days">Sec</div>
                                </div>
                            </div>
                        </div>
                        <button class="btn dontmiss_button">Check it Out!</button>
                    </div>
                    <div class="watch_img">
                        <div class="dontmiss_img">
                            <img src="poster-05.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<h5>3D™ wireless headset</h5>
                        <span class="linethrough">$30</span>
                        <span class="pricing">$40</span>