<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="etrade electronics.css">
    <title>Document</title>
</head>
<body>
    <div class="bottom_area-header">
        <div class="products_content">
            <div class="justify_center">
                <div class="main_navbar">
                  </div>
                  <div class="brand_logo">
                    <a href="#">
                        <img src="logo.png" alt="etrade">
                    </a>
                </div> 
                  <div class="navbar">
                    <a class="side_down" href="#">Home</a>
                    <a class="side_down" href="#">Shop</a>
                    <a class="side_down" href="#">Page</a>
                    <a class="side_down" href="#">About</a>
                    <a class="side_down" href="#">Blog</a>
                    <a href="#">Contact</a>
                  </div>
                  <div class="searchbox">
                    <input type="search" name="search box" id="search" placeholder="What are you looking for">
                    <button type="submit" class="icon_search">&#128269;</button>
                </div>
                    <!-- <div class="action_icon">
                          <ul class="listofactions">
                              <li class="whishlist">
                                  <a class="list" href="#"></a>
                              </li>
                              <li class="shopping">
                                  <a class="list" href="#"></a>
                              </li>
                              <li class="profile">
                                  <a class="list" href="#"></a>
                              </li>
                          </ul>
                    </div> -->
                </div>
            </div>    
        </div>
    </div>
    <div class="all_products">
        <div class="products_content">
            <div class="two_section0fproduct">
                <div class="all product_tiel">
                    <div class="menu">
                        <div class="home">Home</div>
                        <div class="dash">&#124;</div>
                        <div class="my_accont">My Account</div>
                    </div>
                    <h1 class="main_title">Explore All Products</h1>
                </div>
                <div class="all product_img">
                    <img src="product-45.png" alt="amazone">
                </div>
            </div>
        </div>
    </div>
    <div class="main_area_productsa">
        <div class="products_content">
            <div class="row_buttons">
                <div class="buttons_leftside">
                    <button class="filters">Categories &#8595;</button>
                    <button class="filters color">color &#8595;</button>
                    <button class="filters">Price Range &#8595;</button>
                </div>
                <div class="buttons_rigthside">
                    <button class="filters">&#8595;</button>
                </div>
            </div>
        </div>
        <div class="brand_row">
            <div class="products_content">
                <!-- this is row first -->
                <div class="first_row">
                    <div class="electronic_product">
                        <img src="product-01.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-02.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-03.png" alt="">
                        <div>
                            <h5  class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-04.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                </div>
                <!-- this is row second -->
                <div class="second_row">
                    <div class="electronic_product">
                        <img src="product-05.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-06.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-07.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-08.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                </div>
                <!-- this is row third -->
                <div class="second_row">
                    <div class="electronic_product">
                        <img src="product-9.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-10.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-11.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                    <div class="electronic_product">
                        <img src="product-12.png" alt="">
                        <div>
                            <h5 class="eachproduct_title">3D™ wireless headset</h5>
                            <span class="linethrough">$30</span>
                            <span class="pricing">$40</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="load_more">
            <div class="load_content">
                <button class="load_button">Load More</button>
            </div>
        </div>
    </div>
    <div class="update_main">
        <div class="products_content">
            <div class="update_titles">
                <p class="new_sletter">
                    <span class="new_circle"></span>
                    <span class="color_newsletter">Newsletter</span>
                </p>
                <h1 class="update">Get weekly update</h1>
                <div class="update_searchbox">
                    <input type="search" name="search box" id="search" placeholder="example@gmail.com">
                    <button type="submit" class="update_icon_search">&#9993;</button>
                    <button type="submit"class="update_icon_button">Suscribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="our_quality">
        <div class="products_content">
            <div class="our_quality_center">
                <div class="service_box">
                    <div class="goals delivery">
                        <div class="fast&secure">
                            <img src="service1.png" alt="">
                        </div>
                        <h3 class="quality_title">Fast&Secure Delivery</h3>   
                    </div>    
                        
                </div>
                <div class="service_box">
                    <div class="goals on_product">
                        <div class="fast&secure">
                            <img src="service2.png" alt="">
                        </div>
                        <h3 class="quality_title">100% Guarantee</h3>
                    </div>  
                </div>
                <div class="service_box">
                    <div class="goals policy1">
                        <div class="fast&secure">
                            <img src="service3.png" alt="">
                        </div>
                        <h3 class="quality_title">24 Hour Return</h3>
                    </div>
                </div>
                <div class="service_box">
                    <div class="goals policy2">
                        <div class="fast&secure">
                            <img src="service4.png" alt="">
                        </div>
                        <h3 class="quality_title">24 Hour Return</h3>
                    </div>
                </div>    
                <div class="service_box">
                    <div class="goals quality">
                        <div class="fast&secure">
                            <img src="service5.png" alt="">
                        </div>
                        <h3 class="quality_title">Next Level Pro</h3>
                    </div>
                </div>    
            </div>
        </div>    
    </div>
    <footer class="main_footer">
        <div class="products_content">
            <hr>
            <div class="footer_row">
                <div class="Support">
                    <div class="footer-content">
                        <h3>Support</h3>
                        <p class="support_write">
                            685 Market Street,
                            <br>
                            Las Vegas, LA 95820, 
                            <br>
                            United States. 
                        </p>
                        <ul class="contact">
                            <li class="contact1">&#9993; example@domain.com</li>
                            <li class="contact2">&#128383; (+01) 850-315-5862</li>
                        </ul>
                    </div>
                </div>
                <div class="Acccount">
                    <div class="footer-content">
                        <h3>Account</h3>
                        <p class="support_write">
                            My Account
                            <br>
                            Login / Register 
                            <br>
                            Cart
                            <br>
                            Wishlist
                            <br>
                            Shop
                            <br> 
                        </p>
                    </div>
                </div>
                <div class="Quick_Line">
                    <div class="footer-content">
                        <h3>Quick_Line</h3>
                        <p class="support_write">
                            Privacy Policy
                            <br>
                            Terms Of Use 
                            <br>
                            FAQ
                            <br>
                            Wishlist
                            <br>
                            Wishlist
                            <br> 
                        </p>
                    </div>
                </div>
                <div class="Download">
                    <div class="footer-content">
                        <h3>Download</h3>
                        <span>Save $3 With App & New User only</span>
                        <div class="QR">
                            <div class="or_code">
                                <a href="#">
                                    <img src="qr.png" alt="">
                                </a>
                            </div>
                            <div class="play_store">
                                <a href="#">
                                    <img src="play-store.png" alt="">
                                </a>
                                <hr>
                                <a href="#">
                                    <img src="app-store.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="last_footer">
                <div class="copy_right">© 2022. All rights reserved by Axilthemes.</div>
            </div>
        </div>
    </footer>

</body>
</html>