<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="etrade.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="cream_bg">
        <header class="nav_bg">
            <nav class="mani_nav">
                <div class="container">
                    <div class="center-justify">
                        <div class="brand">
                            <a href="#"><img src="./img/logo.png" alt="etrade"></a>
                        </div>
                        <div class="mainmenu_nav">
                            <ul class="main_menu">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <button class="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <div class="wsc">
                            <div class="profile_list">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="profile_list">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <div class="profile_list">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="hot_deals">
            <div class="container">
                <div class="brand_two-section">
                    <div class="row">
                        <div class="hot_deal-tile" style="width: 100%;">
                            <div class="hot_logo">
                                <span class="logohot"><i class="fa fa-fire" aria-hidden="true"></i></span>
                                <span class="logo_title">Hot Deal in This Week</span>
                            </div>
                            <h1 class="deal_title">Smart Digital Watch</h1>
                            <div class="btn-profile">
                                <div class="btn-shop">
                                    <button>Button <i class="fa fa-shopping-cart"></i></button>
                                </div>
                                <div class="profiles"></div>    
                            </div>
                        </div>
                        <div class="firsthot_deal-img">
                            <div class="watch-img">
                                <img src="./img/main-watch.png" alt="watch">
                            </div>
                        </div>
                        <div class="secondhot_deal-img">
                            <div class="headphone-img">
                                <img src="img/hradphone.png" alt="headphone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="list_Category">
        <div class="container">
            <div class="category_title"> 
                <div class="category_log">
                    <span class="logotag"><i class="fa fa-tags" aria-hidden="true"></i></span>
                    <span class="tag_title">Category</span>
                </div>
                <div class="Browse_Category">
                    <h2 class="cat_title">Browse by Category</h2>
                    <div class="right_leftbtn">
                        <button class="right_left">&#8592;</button>
                        <button class="right_left">&#8594;</button>
                    </div>
                </div>    
            </div>
            <div class="category_center">
                <div class="computers">
                    <span>
                        <img src="./img/com.png" alt="">
                    </span>
                    <div class="tile_name">
                        <span>
                            <h5>computers</h5>
                        </span>
                    </div>
                </div>
                <div class="moniter">
                    <span>
                        <img src="./img/moniter.png" alt="">
                    </span>
                    <div class="tile_name">
                        <span>
                            <h5>moniter</h5>
                        </span>
                    </div>
                </div>
                <div class="laptop">
                    <span>
                        <img src="./img/lap.png" alt="">
                    </span>
                    <div class="tile_name">
                        <span>
                            <h5>laptop</h5>
                        </span>
                    </div>
                </div>
                <div class="networking">
                    <span>
                        <img src="./img/net.png" alt="">
                    </span>
                    <div class="tile_name">
                        <span>
                            <h5>networking</h5>
                        </span>
                    </div>
                </div>
                <div class="phone">
                    <span>
                        <img src="./img/phone.png" alt="">
                    </span>
                    <div class="tile_name">
                        <span>
                            <h5>phone</h5>
                        </span>
                    </div>
                </div>
                <div class="gaming">
                    <span>
                        <img src="./img/game.png" alt="">
                    </span>
                    <div class="tile_name">
                        <span>
                            <h5>phone</h5>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dont_miss">
        <div class="container">
            <div class="main_contenrt">
                <div class="dontmiss_logo">
                    <span class="headphone_logo"><i class="fa fa-headphones" aria-hidden="true"></i></span>
                    <span class="tag_title">Don't Miss</span>
                </div>
                <div class="row_dontmiss">
                    <div>
                        <h1 class="dontmiss_title">Enhance Your Music Experience</h1>
                        <div class="timer">
                            <div class="day">
                                <div>
                                    <div style="text-align: center;">0</div>
                                    <div>Day</div>
                                </div>
                            </div>
                            <div class="hrs">
                                <div>
                                    <div style="text-align: center;">0</div>
                                    <div>Hrs</div>
                                </div>
                            </div>
                            <div class="min">
                                <div>
                                    <div style="text-align: center;">0</div>
                                    <div>Min</div>
                                </div>
                            </div>
                            <div class="sec">
                                <div>
                                    <div style="text-align: center;">0</div>
                                    <div>Sec</div>
                                </div>
                            </div>
                        </div>
                        <button class="checkout">check it Out!</button>
                    </div>
                    <div class="headimg">
                        <div class="headmain_img">
                            <img src="./img/poster-03.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thisweek">
        <div class="container">
            <div class="this_weeek_title">
                <div class="thisweek_logo_title">
                    <span style="background-color: #8c71db;" class="basket_logo"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
                    <span style="color: #8c71db;" class="logo_title">This Week’s</span>
                </div>
                <div class="week_title">
                    <h1 class="week_name">New Arrivals</h1>
                    <div class="right_leftbtn">
                        <button class="right_left">&#8592;</button>
                        <button class="right_left">&#8592;</button>
                    </div>
                </div>
            </div>    
            <div class="products_list">
                <div class="products_center">
                    <div class="speker">
                        <a href="#">
                            <img class="hov" src="./img/product-08.png" alt="">
                        </a>
                        <div class="product_content">
                            <div class="inner">
                                <div class="color_varent_wrap">
                                    <ul class="color_varent">
                                        <li class="color_01">
                                            <span>
                                                <span class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_02">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #8c71db;" class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_03">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #d956ee;" class="color"></span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_name">
                                <h4 style="margin: 0px 0px 18px 0px;">Speakers</h4>
                                <div>
                                    <span style="text-decoration: line-through;">40$</span>
                                    <span>35$</span>
                                </div>
                            </div>
                            <div class="addcart_btn_center">
                                <button class="sopping_ions"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="addcart">Add to cart</button>
                                <button class="sopping_ions"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="speker">
                        <a href="#">
                            <img src="./img/product-07.png" alt="">
                        </a>
                        <div class="product_content">
                            <div class="inner">
                                <div class="color_varent_wrap">
                                    <ul class="color_varent">
                                        <li class="color_01">
                                            <span>
                                                <span class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_02">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #8c71db;" class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_03">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #d956ee;" class="color"></span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_name">
                                <h4 style="margin: 0px 0px 18px 0px;">Speakers</h4>
                                <div>
                                    <span style="text-decoration: line-through;">40$</span>
                                    <span>35$</span>
                                </div>
                            </div>
                            <div class="addcart_btn_center">
                                <button class="sopping_ions"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="addcart">Add to cart</button>
                                <button class="sopping_ions"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="speker">
                        <a href="#">
                            <img src="./img/product-06.png" alt="">
                        </a>
                        <div class="product_content">
                            <div class="inner">
                                <div class="color_varent_wrap">
                                    <ul class="color_varent">
                                        <li class="color_01">
                                            <span>
                                                <span class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_02">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #8c71db;" class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_03">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #d956ee;" class="color"></span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_name">
                                <h4 style="margin: 0px 0px 18px 0px;">Speakers</h4>
                                <div>
                                    <span style="text-decoration: line-through;">40$</span>
                                    <span>35$</span>
                                </div>
                            </div>
                            <div class="addcart_btn_center">
                                <button class="sopping_ions"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="addcart">Add to cart</button>
                                <button class="sopping_ions"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="speker">
                        <a href="#">
                            <img src="./img/product-05.png" alt="">
                        </a>
                        <div class="product_content">
                            <div class="inner">
                                <div class="color_varent_wrap">
                                    <ul class="color_varent">
                                        <li class="color_01">
                                            <span>
                                                <span class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_02">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #8c71db;" class="color"></span>
                                            </span>
                                        </li>
                                        <li class="color_03">
                                            <span style="display: flex; margin:8px">
                                                <span style="background-color: #d956ee;" class="color"></span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_name">
                                <h4 style="margin: 0px 0px 18px 0px;">Speakers</h4>
                                <span style="text-decoration: line-through;">40$</span>
                                <span>35$</span>
                            </div>
                            <div class="addcart_btn_center">
                                <button class="sopping_ions"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button class="addcart">Add to cart</button>
                                <button class="sopping_ions"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <div class="container">
            
            <div class="testimonials_main">
                <div class="testimonials_logo">
                    <span class="cot_logo"><i class="fa fa-users" aria-hidden="true"></i></span>
                    <span class="cot_title">Testimonials</span>
                </div>
                <div class="testimonials_title">
                    <h2 class="tes_title">Users Feedback</h2>
                    <div class="right_leftbtn">
                        <button class="right_left">&#8592;</button>
                        <button class="right_left">&#8594;</button>
                    </div>
                </div>
            </div>
            <div class="testimoials_content">
                <div class="testimoials_mid_content">
                    <div class="customerandreview_sam">
                        <div class="first_review">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus excepturi consequatur culpa suscipit natus repellat, soluta harum sit corrupti tempora.</p>
                        </div>
                        <div class="test_profile">
                            <div style="margin-right: 22px;">
                                <img src="./img/testimg1.png" alt="">
                            </div>
                            <div class="profile_details">
                                <div class="test_title" style="font-size: 14px;">Head of Department</div>
                                <h3 class="test_name" style="margin: 8px 0px;">James.S.Thomson</h4>
                            </div>
                        </div>
                    </div>
                    <div class="customerandreview_dif" style="align-self: flex-end; padding:0px 20px;">
                        <div class="first_review">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus excepturi consequatur culpa suscipit natus repellat, soluta harum sit corrupti tempora.</p>
                        </div>
                        <div class="test_profile">
                            <div style="margin-right: 22px;">
                                <img src="./img/testimg2.png" alt="">
                            </div>
                            <div class="profile_details">
                                <div class="test_title" style="font-size: 14px;">Head of Department</div>
                                <h3 class="test_name" style="margin: 8px 0px;">James.S.Thomson</h4>
                            </div>
                        </div>
                    </div>
                    <div class="customerandreview_sam">
                        <div class="first_review">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus excepturi consequatur culpa suscipit natus repellat, soluta harum sit corrupti tempora.</p>
                        </div>
                        <div class="test_profile">
                            <div style="margin-right: 22px;">
                                <img src="./img/testimg3.png" alt="">
                            </div>
                            <div class="profile_details">
                                <div class="test_title" style="font-size: 14px;">Head of Department</div>
                                <h3 class="test_name" style="margin: 8px 0px;">James.S.Thomson</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="most_sold" style="padding: 90px 0px;">
        <div class="container">
            <div class="mostsold_main">
                <div class="most_logo" style="text-align: center;">
                    <span class="mostlogo" style="background: #8c71db;"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="mostlogo_title" style="color: #8c71db;">Most Sold</span>
                    <div>
                        <h1 class="mostsold_title">Most Sold in eTrade Store</h1>
                    </div>
                </div>
                <div class="mostsold_all_row">
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/mostsol_remote.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>130+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/most1.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>60+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/most2.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>100+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/most3.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>90+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/most4.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>120+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/most5.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>20+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/most6.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>50+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mostsold_col">
                        <div class="mostsold_subcol">
                            <div class="most_sold_imgs" style="margin-right: 30px;">
                                <a href="#">
                                    <img src="./img/most7.png" alt="remote">
                                </a>
                            </div>
                            <div class="mostsold_product_details">
                                <div class="product_rating">
                                    <span class="rating" style="color: #ff900f;">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                    </span>
                                    <span class="review">
                                        <span>30+Reviews</span>
                                    </span>
                                </div>
                                <h4 class="product_namemostsold" style="color: #a0a0a0;">Media Remote</h4>
                                <div class="product_pricing">
                                    <span style="text-decoration: line-through; color:#c3c3c3">70.99$</span>
                                    <span>40.99$</span>
                                </div>
                                <div class="shoping_btn">
                                    <a href="#" class="btn_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    <a href="#" class="btn_icon"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quality_list" style="padding: 40px 0px;">
        <div class="container">
            <div class="qa_list_row">
                <div class="fiest_qa" style="display: flex;">
                    <img src="./img/service1.png" alt="">
                    <div class="qa_tile_name">
                        <h4 style="margin: 6px 0px;">Fast & Secure Delivery</h4>
                        <p class="qa_titles">Tell about your service.</p>
                    </div>
                </div>
                <div class="fiest_qa" style="display: flex;">
                    <img src="./img/service2.png" alt="">
                    <div class="qa_tile_name">
                        <h4 style="margin: 6px 0px;">Fast & Secure Delivery</h4>
                        <p class="qa_titles">Tell about your service.</p>
                    </div>
                </div>
                <div class="fiest_qa" style="display: flex;">
                    <img src="./img/service3.png" alt="">
                    <div class="qa_tile_name">
                        <h4 style="margin: 6px 0px;">Fast & Secure Delivery</h4>
                        <p class="qa_titles">Tell about your service.</p>
                    </div>
                </div>
                <div class="fiest_qa" style="display: flex;">
                    <img src="./img/service4.png" alt="">
                    <div class="qa_tile_name">
                        <h4 style="margin: 6px 0px;">Fast & Secure Delivery</h4>
                        <p class="qa_titles">Tell about your service.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <div class="footer" style="padding: 50px 0px;">
        <div class="container">
            <div class="footer_row">
                <div class="support" style="width: 25%">
                    <h3>Support</h3>
                    <div class="support_inner">
                        <p class="addres">
                            685 Market Street,
                            <br>
                            Las Vegas, LA 95820,
                            <br>
                            United States.
                        </p>
                        <div class="contact_us">
                            <ul class="contact_us_details">
                                <li >
                                    <a href="#" class="gmailandphone"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        example@domain.com
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="gmailandphone"><i class="fa fa-phone" aria-hidden="true"></i>
                                        (+01) 850-315-5862
                                    </a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="account" style="width: 25%">
                    <h3>Accounts</h3>
                    <div class="account_inner">
                        <ul class="accounts_details">
                            <li>
                                <a href="#" class="account_accesing">My Account</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">Login / Register</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">Cart</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">Wishlist</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">Shop</a>
                            </li>
                        </ul> 
                    </div>
                </div>
                <div class="quick_link" style="width: 25%">
                    <h3>Quick Link</h3>
                    <div class="quick_link_inner">
                        <ul class="accounts_details">
                            <li>
                                <a href="#" class="account_accesing">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">Terms Of Use</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">FAQ</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">Contact</a>
                            </li>
                            <li>
                                <a href="#" class="account_accesing">Contact</a>
                            </li>
                        </ul> 
                    </div>
                </div>
                <div class="dnd_link" style="width: 25%">
                    <h3>Download App</h3>
                    <div class="dnd_inner">
                        <p>Save $3 With App & New User only</p>
                        <div class="source_dndapp" style="display: flex;">
                            <div class="qr" style="margin-right: 5px;">
                                <img src="./img/qr.png" alt="">
                            </div>
                            <div class="app">
                                <a href="#"><img src="./img/play-store.png" alt=""></a>
                                <a href="#"><img src="./img/app-store.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>